.block {
  display: block;
}
.six {
  width: 300px;
}
.checkout-input {
  width: 270px;
}
#shipping {
  float: left;
}
#billing {
  float: right;
}
.clear-checkout {
  clear:both;
}
.red {
  color:red;
}
.help-inline {
  color: red;
}
.update-cart-message {
  width: 250px;
  margin:1em auto;
}
